mixin socialLink(link,icon,title)
    a(href=link rel="noreferrer" target="_blank" class="hover:scale-150 hover:text-rose-600 ease-in-out duration-300" title=title)
        span.fa-brands(class=icon)
        
mixin navLink(link,name,title)
    a(href=link rel="noreferrer" target="_blank" class=" hover:underline decoration-rose-600 decoration-2 underline-offset-4" title=title)=name

mixin toolIcon(link,alt,name)
    div.toolIcon(class="w-16 h-16 hover:scale-150 ease-in-out duration-200 flex flex-col justify-center items-center")
        img(width=40 height=40 src=link alt=alt)
        p.toolName(class="text-xs mt-1")=name

mixin blogCard(title,date,description,image,altimage)
    div.card(class="w-72 h-auto rounded-3xl p-3 hover:bg-slate-100 ease-in-out duration-200 hover:scale-110 hover:shadow-xl")
        .image
            img(class="rounded-2xl" src=image, alt=altimage, srcset="")
        .content
            p(class="font-bold mt-4")=title
            p(class="text-sm text-red-400 mb-4")=date
            p(class="mb-4")=description
        .div(class="flex justify-end")
            button(type="button" class="text-white bg-neutral-900 hover:bg-rose-600 focus:ring-4 focus:ring-red-200  rounded-lg text-sm px-8 py-1 mr-2 mb-2 focus:outline-none") Leer