mixin navlink(name, url)
    a(class="hover:text-rose-600 ease-in-out duration-200 text-lg" href=url onclick="return false" rel="noreferrer")=name
mixin fullnav()
    ul(class="flex pr-12")
        li(class="px-2")
            +navlink("Home","./")
        //- li(class="px-2")
        //-     +navlink("link2","")
        //- li(class="px-2")
        //-     +navlink("link3","")
mixin cta-button(cta,url)
    a(class=" font-bold text-white bg-rose-600 hover:bg-rose-700 px-4 py-2 rounded-lg ease-in-out duration-200" href=url target="_blank" rel="noreferrer")=cta

mixin social-icon(icon,title, url)
    a(href=url target="_blank" rel="noreferrer" class="mx-4 hover:scale-150 hoverSpan ease-in-out duration-200" title=title)
        i(class="fa-brands" class=icon)
mixin title-section(text)
    div(class="flex justify-center pt-20 pb-8")
        p(class="text-4xl font-bold")=text
mixin github-repo(url, img)
    a(href=url class="")
        img(class="rounded-xl hover:scale-[1.05] ease-in-out duration-200" align="center" src=img)