mixin socialLink(link,icon,title)
    a(href=link rel="noreferrer" target="_blank" class="hover:scale-150 hoverSpan ease-in-out duration-300" title=title)
        span( class="fa-brands" class=icon)
        
mixin navLink(link,name,title,class1)
    a(href=link rel="noreferrer" target="_self" class="hoverSpan" title=title class=class1)
        span=name
mixin navLinkDisabled(link,name,title,class1,value)
    a(href=link rel="noreferrer" target="_self" class=" text-slate-400 cursor-default" title=title class=class1 onclick="return false")
        span=name

mixin toolIcon(link,alt,name)
    div.toolIcon(class="w-16 h-16 hover:scale-150 ease-in-out duration-200 flex flex-col justify-center items-center")
        img(width=40 height=40 src=link alt=alt)
        span.toolName(class="text-xs mt-1")=name

mixin blogCard(title,date,description,image,altimage)
    div.card(class="w-72 h-auto rounded-3xl p-3 hover:bg-slate-800 ease-in-out duration-200  hover:scale-110 hover:shadow-xl")
        .image
            img(class="rounded-2xl" src=image, alt=altimage, srcset="")
        .content
            span(class="font-bold mt-4")=title
            span(class="text-sm text-red-400 mb-4")=date
            span(class="mb-4")=description
        .div(class="flex justify-end")
            button(type="button" class="text-white bg-transparent  hover:bg-rose-600 focus:ring-4 focus:ring-red-200  rounded-lg text-sm px-8 py-1 mr-2 mb-2 focus:outline-none") 
            span Read

mixin jsScripts()
    script(src="../assets/js/scroll.js")
    script(src="../assets/js/device.js")
    script(src="../assets/js/nav.js")

mixin pageTitle(pagetitle)    
    title=pagetitle

mixin ctabtn(text,link,class1,ids)
    a(href=link class="rBtnColor ease-in-out duration-300  rounded-lg py-2 px-4 " class=class1 id=ids)
        span=text
mixin ctabtnDisabled(text,link,class1,ids)
    a(href=link onclick="return false" class="cursor-default  text-slate-300   border-solid border-2 border-slate-300  rounded-lg py-2 px-4 " class=class1 id=ids)
        span=text

mixin tabWork(event,ids,name)
     button(class="tablinks cursor-pointer block w-32 h-12  rounded-3xl  ease-in-put duration-300 py-2 px-4 text-center md:text-center " onclick=event id=ids)
        span=name